.modal {
  box-shadow: 0 30px 80px rgba(0, 0, 0, 9%), 0 12px 24px rgba(0, 0, 0, 5%),
    0 2px 6px rgba(0, 0, 0, 4%);

  &-content {
    overflow: hidden;
    transform: translateZ(0);
  }

  &-header {
    justify-content: center;

    .btn-close {
      top: 40px;
      right: 40px;
      padding: 22px;
      margin: 0;
    }
  }
}
