:root {
  --swiper-pagination-color: #{$teal};
  // --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-inactive-color: #{rgba($black, 0.2)};
  --swiper-pagination-bullet-inactive-opacity: 1;
  // --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 8px;
  // --swiper-pagination-bullet-vertical-gap: 6px;

  @include b-d(md) {
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-horizontal-gap: 4px;
  }
}

.swiper {
  padding-bottom: 104px;

  @include b-d(md) {
    padding-bottom: 92px;
  }

  &-wrapper {
    display: grid;
    grid-auto-flow: column;
  }

  &-pagination {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;

    &.swiper-pagination-horizontal {
      bottom: 48px;
      @include b-d(md) {
        bottom: 60px;
      }
    }

    &-bullet {
      transition: background 1s;
    }
  }

  &-button {
    &-prev,
    &-next {
      position: absolute;
      bottom: 0;
      z-index: 3;
      width: 300px;
      height: 120%;
      cursor: pointer;
      background: linear-gradient(
        270deg,
        $white 0%,
        rgba($white, 90%) 28.13%,
        rgba($white, 50%) 68.75%,
        rgba($white, 0%) 100%
      );
      @include b-d(xl) {
        width: 200px;
      }
      @include b-d(md) {
        display: none;
      }
    }

    &-prev {
      left: 0;
      transform: scaleX(-1);
      @include b-d(xxxl) {
        left: -176px;
      }
      @include b-d(xl) {
        left: -120px;
      }
    }

    &-next {
      right: 0;
      @include b-d(xxxl) {
        right: -176px;
      }
      @include b-d(xl) {
        right: -120px;
      }
    }
  }
}
