:root {
  --swiper-pagination-color: #{$teal};
  // --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-inactive-color: #{rgba($black, 0.2)};
  --swiper-pagination-bullet-inactive-opacity: 1;
  // --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 8px;
  // --swiper-pagination-bullet-vertical-gap: 6px;
}

.swiper {
  padding-bottom: 104px;

  &-pagination {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;

    &.swiper-pagination-horizontal {
      bottom: 48px;
    }

    &-bullet {
      transition: background 1s;
    }
  }

  &-button {
    &-prev,
    &-next {
      position: absolute;
      bottom: 0;
      z-index: 3;
      width: 300px;
      height: 120%;
      cursor: pointer;
      background: linear-gradient(
        270deg,
        $white 0%,
        rgba($white, 90%) 28.13%,
        rgba($white, 50%) 68.75%,
        rgba($white, 0%) 100%
      );
    }

    &-prev {
      left: 0;
      @include b-d(xxxl) {
        left: -176px;
      }

      transform: scaleX(-1);
    }

    &-next {
      right: 0;
      @include b-d(xxxl) {
        right: -176px;
      }
    }
  }
}
