@import '~styles/mixins';

.donate {
  display: grid;
  grid-row-gap: 36px;

  @include b-d(md) {
    grid-row-gap: 23px;
  }

  h3 {
    text-align: center;
    @include b-d(md) {
      text-align: left;
    }
  }

  &__cards {
    text-align: center;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    margin: 24px 0;
    @include b-d(md) {
      grid-template-columns: 1fr;
      grid-row-gap: 12px;
      margin-top: 18px;
    }
  }
}

.tokens {
  display: grid;
  grid-row-gap: 16px;
  padding: 0;
  margin: 26px 0 0;
  list-style: none;

  @include b-d(md) {
    margin-top: 18px;
  }
}

.token {
  position: relative;
  display: grid;
  grid-column-gap: 20px;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  padding: 12px 16px 12px 12px;
  overflow: hidden;
  background: $gray-100;
  border-radius: 12px;
  transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  @include b-up(md) {
    grid-auto-flow: column;
  }

  @include b-d(md) {
    grid-row-gap: 8px;
    justify-content: start;
    // width: 100%;
    justify-items: start;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 2px $secondary;

    .copy {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__symbol {
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
    align-items: center;
    color: $gray-700;
    text-transform: uppercase;
    white-space: nowrap;
    @include b-d(md) {
      font-size: 16px;
    }
  }

  &__wallet {
    letter-spacing: 0.04em;
    @include b-up(md) {
      overflow: hidden;
    }
    @include b-d(md) {
      > div {
        word-break: break-all !important;
      }
    }
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.copy {
  position: absolute;
  top: 4px;
  right: 4px;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  padding: 8px 10px;
  background-color: $gray-200;
  border-radius: 8px;
  transition: 300ms;
  @include b-up(md) {
    opacity: 0;
    transform: translateX(5px);
  }
  @include b-d(md) {
    color: $gray-600;
    background: none;

    &:hover,
    &:focus {
      color: $black;
    }

    span {
      display: none;
    }
  }
}

.tabs {
  margin-top: 26px;
  background: $gray-100;
  border-radius: 12px;

  @include b-d(md) {
    margin-top: 18px;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__button {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    font-weight: 300;
    color: $gray-700;
    text-transform: uppercase;
    box-shadow: inset 0 -1px $gray-300;
    transition: 300ms;

    @include b-d(md) {
      span {
        display: none;
      }
    }

    &.active {
      color: $black;
      box-shadow: inset 0 -2px $secondary;
    }
  }

  &__content {
    padding: 20px 24px;
    white-space: pre-line;
    @include b-d(md) {
      padding: 16px 12px;
    }
  }
}
