@import '~styles/mixins';

.hero {
  overflow: hidden;

  &::after {
    display: block;
    height: 93px;
    content: '';
    background-image: url('~img/pattern.svg');
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: 102px 93px;
    @include b-d(md) {
      height: 44px;
      background-size: 48px 44px;
    }
  }

  &__container {
    position: relative;
    display: grid;
    justify-items: center;
    padding-top: 92px;
    padding-bottom: 38px;
    text-align: center;

    @include b-d(lg) {
      padding-bottom: 48px;
    }

    @include b-d(md) {
      padding-top: 50px;
      padding-bottom: 36px;
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;
      z-index: -1;
      width: 800px;
      height: 100%;
      content: '';
    }

    &::before {
      right: calc(50% + 150px + 93px);
      background-image: url('~img/building-left-min.jpg');
      @include b-d(xl) {
        right: calc(50% + 140px);
      }
      @include b-d(lg) {
        right: calc(50% + 75px);
      }
      @include b-d(md) {
        display: none;
      }
    }

    &::after {
      left: calc(50% + 150px + 93px);
      background-image: url('~img/building-right-min.jpg');
      @include b-d(xl) {
        left: calc(50% + 140px);
      }
      @include b-d(lg) {
        left: calc(50% + 75px);
      }

      @include b-d(md) {
        top: -43px;
        left: calc(50% - 210px);
        width: calc(100% + 60px);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__lead {
    max-width: 1100px;
    margin: 36px auto 0;

    @include b-d(md) {
      margin-top: 45px;
    }
  }

  &__button {
    display: grid;
    grid-row-gap: 16px;
    justify-items: center;
    margin-top: 52px;
    margin-bottom: 122px;

    @include b-d(xl) {
      margin-bottom: 117px;
    }

    @include b-d(lg) {
      margin-bottom: 90px;
    }

    @include b-d(md) {
      margin-bottom: 50px;
    }
  }

  &__powered {
    display: grid;
    grid-row-gap: 18px;

    @include b-up(md) {
      span {
        display: none;
      }
    }
    @include b-d(md) {
      img {
        display: none;
      }
    }

    a {
      color: $gray-600;
    }
  }
}
