@import '~styles/mixins';

.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;

  &__logo {
    justify-self: start;
  }
  @include b-d(sm) {
    // Code...
  }
}
