@import '~styles/mixins';

.header {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 20px;
  align-items: center;
  // justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 1240px;
    content: '';
    border-bottom: 1px solid $gray-300;
    transform: translateX(-50%);
  }

  &__logo {
    // margin-right: auto;
  }
  @include b-d(sm) {
    // Code...
  }
}
