@import '~styles/mixins';

.footer {
  overflow: hidden;

  &::before {
    display: block;
    height: 93px;
    content: '';
    background-image: url('~img/pattern.svg');
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: 102px 93px;
  }

  &__top {
    position: relative;
    display: grid;
    grid-row-gap: 36px;
    justify-items: center;
    padding-top: 154px;
    padding-bottom: 192px;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      z-index: -1;
      width: 800px;
      height: 100%;
      content: '';
    }

    &::before {
      right: calc(50% + 150px + 93px);
      background-image: url('~img/building-left-min.jpg');
    }

    &::after {
      left: calc(50% + 150px + 93px);
      background-image: url('~img/building-right-min.jpg');
    }
  }

  &__hint {
    margin-top: -20px;
    font-size: 13px;
    font-weight: 400;
    color: $gray-600;
  }

  &__bottom {
    position: relative;
    display: grid;
    grid-row-gap: 35px;
    justify-items: center;
    padding-top: 40px;
    padding-bottom: 35px;

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      max-width: 1240px;
      content: '';
      border-bottom: 1px solid $gray-300;
      transform: translateX(-50%);
    }
  }

  &__logos {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 60px;
    align-items: center;
    color: $gray-600;
  }

  &__menu {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 60px;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: $gray-600;
    list-style: none;

    a {
      color: $gray-600;
    }
  }
}
