@import '~styles/mixins';

.banner {
  overflow: hidden;
  background: $yellow;

  &__container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 70px;
    align-items: center;
    padding: 50px 0 54px;

    &::before,
    &::after {
      position: absolute;
      z-index: -1;
      content: '';
      background-image: url('~img/sunflower.png');
      filter: invert(1);
      background-size: contain;
      opacity: 0.4;
    }

    &::before {
      bottom: -122px;
      left: -90px;
      width: 680px;
      height: 680px;
      transform: rotate(-176.36deg);
    }

    &::after {
      top: -183px;
      right: -160px;
      width: 962px;
      height: 962px;
    }
  }

  &__content {
    span {
      display: block;
      max-width: 740px;
      margin-top: 35px;
    }
  }
}
